footer {
    top: 0;
    display: flex;
    width: 100%;
    color: white;
    background-color: #007bff;
    align-items: center;
    text-align: center;
    padding: 10px;
    z-index: 10;
    position: relative;
    /*Đăng nhập và thoát nằm bên phải*/
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    /* Căn các item gần nhau thay vì giãn ra hết */
}

footer a {
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin: 0 10px;
}

footer a:hover {
    background-color: #0056b3;
}

footer h4 {
    margin-left: 10px;
}

a {
    /*Xóa gạch chân thẻ a*/
    text-decoration: none;
}

header {
    position: fixed;
    /*Cố định bên dưới*/
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.search_lable {
    background-color: #f3f6fb;
    width: 230px;
    border: 1px solid black;
    border-radius: 6px;
    height: 25px;
    justify-content: flex-start;
    /* hoặc center nếu muốn giữa */
    gap: 20px;
    /* tạo khoảng cách nhỏ giữa các item */
}


/*Menu trên sidebar: */


/* Màu chủ đạo */

:root {
    --main: #007bff;
    --light: #f2f2f2;
    --text: #333;
}


/* Cấu trúc tổng thể */

body {
    margin: 0;
    display: flex;
}


/* Thanh menu dọc */

.sidebar {
    margin-top: 50px;
    width: 230px;
    height: 100vh;
    background-color: white;
    border-right: 2px solid #ddd;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
}


/* Tiêu đề menu */

.sidebar h3 {
    color: #007bff;
    margin-left: 20px;
    margin-top: 30px;
}


/* Các liên kết trong menu */

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
}


/* Icon và chữ thẳng hàng */

.sidebar a i {
    margin-right: 5px;
}


/* Màu xen kẽ */

.sidebar a:nth-child(odd) {
    background-color: #ffffff;
}

.sidebar a:nth-child(even) {
    background-color: #e9f0ff;
}


/* Hover */

.sidebar a:hover {
    background-color: var(--main);
    color: white;
}


/* Nội dung chính nằm bên phải menu */

.content {
    margin-left: 230px;
    padding: 40px;
    flex: 1;
}